<!DOCTYPE html>
<html>
  <head>
    <title>SovellusHub</title>
    <link rel="stylesheet" href="/static/main.css" />
  </head>
  <body>
    <h1><a href="/" class="internallink">SovellusHub</a></h1>

    <div style="display: flex; align-items: center">
      <form action="/search" method="get">
        <input type="text" name="text" placeholder="Hakusana"></input>

        <input type="submit" value="Hae"></input>
      </form>

      <div style="flex-grow: 1"></div>

      {% if session.username %}
      <a href="/u/{{ session.user_id }}" class="internallink" style="margin-right: 15px">{{ session.username }}</a>

      <form action="/logout" method="post">
        <input type="hidden" name="csrf_token" value="{{ session.csrf_token }}"></input>
        <button type="submit" value="logout">Kirjaudu ulos</button>
      </form>
      {% else %}
      <a href="/login" class="button" style="margin: 5px">Kirjaudu sisään</a>
      <a href="/register" class="button" style="margin: 5px">Rekisteröidy</a>
      {% endif %}
    </div>

    {% with messages = get_flashed_messages() %}
      {% if messages %}
      <div style="position: absolute; width: 80vw; height: 98vh; left: 10vw; top: 2vh; display: flex; flex-direction: column; align-items: center; pointer-events: none;">
        {% for message in messages %}
          <div style="border: 2px solid grey; border-radius: 4px; background: #f9f9f9; pointer-events: auto; margin-bottom: 15px;">
            <p style="margin-left: 10px; margin-right: 10px;">{{ message }}</p>
          </div>
        {% endfor %}
      </div>
      {% endif %}
    {% endwith %}

    <hr>

    <div id="content">
      {% block content %}{% endblock %}
    </div>
  </body>
</html>
