<!DOCTYPE html>
<html>
  <head>
    <title>SovellusHub</title>
  </head>
  <body>
    <h1><a href="/">SovellusHub</a></h1>
    {% if session.username %}
    <a href="/u/{{ session.user_id }}">{{ session.username }}</a>

    <form action="/logout" method="post">
      <input type="hidden" name="csrf_token" value="{{ session.csrf_token }}"></input>
      <button type="submit" value="logout">Kirjaudu ulos</button>
    </form>
    {% else %}
    <a href="/login">Kirjaudu sisään</a>
    <a href="/register">Rekisteröidy</a>
    {% endif %}

    <form action="/search" method="get">
      <input type="text" name="text" placeholder="Hakusana"></input>

      <input type="submit" value="Hae"></input>
    </form>

    {% with messages = get_flashed_messages() %}
      {% if messages %}
      <center>
        {% for message in messages %}
        <p>{{ message }}</p>
        {% endfor %}
      </center>
      {% endif %}
    {% endwith %}

    <hr>

    {% block content %}{% endblock %}
  </body>
</html>
