{% extends "base.html" %}

{% block content %}
<form action="/p/{{ program.id }}/edit" method="post">
  <label for="name">Sovelluksen nimi:</label> <br/>
  <input type="text" id="name" name="name" size="40" value="{{ program.name }}" requided /> <br/>

  <label for="source_link">Linkki sovelluksen lähdekoodiin:</label> <br/>
  <input type="text" id="source_link" name="source_link" size="40" value="{{ program.source_link }}" required /> <br/>

  <label for="download_link">Linkki sovelluksen lataukseen:</label> <br/>
  <input type="text" id="download_link" name="download_link" size="40" value="{{ program.download_link }}" required /> <br/>

  <label for="description">Sovelluksen kuvaus:</label> <br/>
  <textarea id="description" name="description" rows=10 cols=80 required>{{ program.description }}</textarea> <br/>

  <input type="hidden" name="csrf_token" value="{{ session.csrf_token }}"></input>

  <input type="submit" value="Tallenna" />
</form>
{% endblock %}
