{% extends "base.html" %}

{% block content %}

<h2>{{ name }}</h2>

<p>{{ author_name }}</p>

<p><a href="{{ source_link }}" target="_blank">{{ source_link }}</a></p>

<p><a href="{{ download_link }}" target="_blank">{{ download_link }}</a></p>

<p>{{ description }}</p>

{% if session.user_id == author_id %}
<form action="/p/{{ program_id }}/edit">
  <input type="submit" value="Muokkaa sovellusta"></input>
</form>

<form action="/p/{{ program_id }}/delete" method="post">
  <input type="submit" value="Poista sovellus"></input>
</form>
{% endif %}

{% endblock %}
