{% extends "base.html" %}

{% block content %}
<div style="display: flex; align-item: center; justify-content: center">
  <form ation="/register" method="post">
    <p>
      <label for="username">Käyttäjänimi:</label> <br/>
      <input id="username" type="text" name="username" value="{{ username }}" required />
    </p>
    <p>
      <label for="password">Salasana:</label> <br/>
      <input id="password" type="password" name="password1" required />
    </p>
    <p>
      <label for="password2">Toista salasana:</label> <br/>
      <input id="password2" type="password" name="password2" required />
    </p>
    <input type="submit" value="Luo tunnus" />
  </form>
</div>
{% endblock %}
