{% extends "base.html" %}

{% block content %}
<div style="display: flex; align-item: center; justify-content: center">
  <form ation="/register" method="post">
    <p>
      Käyttäjänimi: <br/>
      <input type="text" name="username" required />
    </p>
    <p>
      Salasana: <br/>
      <input type="password" name="password1" required />
    </p>
    <p>
      Toista salasana: <br/>
      <input type="password" name="password2" required />
    </p>
    <input type="submit" value="Luo tunnus" />
  </form>
</div>
{% endblock %}
