{% extends "base.html" %}

{% block content %}

<h1>{{ name }}</h1>

<p>Annettujen arvosteluiden keskiarvo: {{ average_given_review | roundf(1) }}</p>

<p>Annettujen arvosteluiden määrä: {{ review_count }}</p>

<p>Ohjelmien määrä: {{ program_count }}</p>

<p>Ohjelmien arvosteluiden keskiarvo: {{ average_grade | roundf(1) }}</p>

<hr>

{% for program in programs %}
{% include "programcard.html" %}
{% endfor %}

<div>
{% if prev_page %}
<a href="/u/{{ user_id }}?p={{ prev_page }}">Edellinen sivu</a>
{% endif %}

{% if next_page %}
<a href="/u/{{ user_id }}?p={{ next_page }}">Seuraava sivu</a>
{% endif %}
</div>

{% endblock %}
